/**
 * @file
 * Views Styling
 */

/** list of all groups **/

.view-id-vojo_og {
    margin-top: 1em;
}

.view-id-vojo_og ul {
    margin: 0em;
    padding: 0em;
    list-style: none;
}

.view-id-vojo_og ul li {
    margin: 0em;
    padding: 0.5em 0em;
    overflow: hidden;
}
.view-id-vojo_og .group-logo-listing {
    display: block;
    width: 150px;
    float: left;
    text-align: center;
    margin-right: 20px;
}
/** list of stories **/

.vojo-story-list ul {
    list-style: none;
    margin: 1em 0em;
    padding: 0em;
}

.vojo-story-list ul h2 {
    font-size: 1.2em;
}

.vojo-story-list ul li .meta .terms {
    font-style: italic;
    font-size: 0.9em;
    color: #333333;
}

/** homepage list of all groups **/
.vojo-group-summary {
    margin-bottom: 1em;
}
.vojo-group-summary img {
    margin-right: 1em;
}

/** Front page recent stories style **/
.view-vojo-global-story-listings .view-content ul {
    padding-left: 20px;
    overflow: hidden;
}
.section-blogs .view-vojo-global-story-listings .view-content ul {
    padding-left: 0;
}
.view-vojo-global-story-listings .view-content ul li {
    float: left;
    width: 340px;
    padding: 0;
    margin-right: 11px;
    margin-bottom: 20px;
    position: relative;
}
.view-vojo-global-story-listings .view-content ul li .story-date-wrapper {
    margin-top: 0;
    margin-right: 0;
    padding: 0;
}
.view-vojo-global-story-listings .vojo-story-mapped .field-content {
    float: left;
    margin-top: 2px;
}
.view-vojo-global-story-listings .views-field-field-image-fid {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.view-vojo-global-story-listings .views-field-field-image-fid img {
    display: block;
    border: #999 solid 1px;
}
.view-vojo-global-story-listings .views-field-title h3 {
    line-height: 18px;
    font-size: 16px;
}
.view-vojo-global-story-listings .views-field-title-1 {
}
.view-vojo-global-story-listings .views-field-title-1 a {
  font-size: 12px;
 /* background: #000;
  color: #2DAEE5; */
}
.view-vojo-global-story-listings .views-field-title-1 .views-label {
    font-size: 9px;
    text-transform: uppercase;
    color: #666;
}
.view-vojo-global-story-listings .views-field-title-1 a:hover {
    text-decoration: none;
}

/* Reusable styles for the browse stories view */
.view-vojo-group-browse-stories .views-row {
    float: left;
    width: 246px;
    height: 246px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    color: #fff;
    background-color: #333;
}
.view-vojo-group-browse-stories .views-row .views-field-field-image-fid {
    background-color: #333;
    width: 246px;
    height: 246px;
    position: absolute;
    top: 0;
    left: 0;
}
.view-vojo-group-browse-stories .vojo-view-story a {
    width: 246px;
    height: 246px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
    text-indent: -9999px;
}
.view-vojo-group-browse-stories .vojo-story-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.view-vojo-group-browse-stories .vojo-story-text p {
    margin-bottom: 0;
}
.view-vojo-group-browse-stories .views-row a {
  /*  background-color: #000; */
    color: #fff;
    display: block;
    padding: 1px 10px 3px;
    text-shadow: 1px 2px 3px 0.5;
    opacity: 0.8;
}
.view-vojo-group-browse-stories .views-row a.imagecache {
    display: block;
    padding: 0;
    opacity: 1;
}
.view-vojo-group-browse-stories .views-row .vojo-story-text p a {
   /* background: rgba(000, 000, 000, 0.50); */
    padding-bottom: 10px;
}
.view-vojo-group-browse-stories .views-row .vojo-story-text h3 {
    line-height: 20px;
}
.view-vojo-group-browse-stories .views-row:hover .vojo-story-text a,
.view-vojo-group-browse-stories .views-row .vojo-story-text a:hover {
    background: rgba(51, 51, 51, 0.8);
    text-decoration: none;
    color: #fff;
    opacity: 1;
}
.view-vojo-group-browse-stories .views-row a.imagecache {
    z-index: 1000;
    opacity: 1;
}
.view-vojo-group-browse-stories .views-row:hover a.imagecache {
    position: relative;
    z-index: 0;
}
.view-vojo-group-browse-stories {
    position: relative;
}
.view-vojo-group-browse-stories .vojo-story-created {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #000;
    padding: 0 4px;
}
.view-vojo-group-browse-stories .vojo-view-story a {
    z-index: 50;
}
.view-vojo-group-browse-stories .stories-audio-icon,
.openlayers-popupbox .stories-audio-icon {
    background-image: url(../images/vojo/icon-audio.png);
    float: left;
    width: 26px;
    height: 26px;
    text-indent: -9999px;
    margin-left: 3px;
    margin-top: 3px;
    z-index: 50;
    position: relative;
}
.vojo-story-mapped span {
    background-image: url(../images/vojo/icon-place.png);
    float: left;
    width: 26px;
    height: 26px;
    text-indent: -9999px;
    margin-right: 3px;
    margin-top: 0;
    z-index: 50;
    position: relative;   
}
.vojo-story-has-audio {
    display: block;
    background-image: url(../images/vojo/circled-audio-icon-big.png);
    float: left;
    width: 150px;
    height: 150px;
    text-indent: -9999px;
    position: relative;
    z-index: 50;
    margin-left: 48px;
    margin-top: 18px;
    padding: 0 !important;
}
.view-vojo-group-browse-stories .vojo-story-mapped span {
    margin-left: 3px;
    margin-top: 3px;
}
.openlayers-popupbox .vojo-has-audio-wrapper a {
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}
/* Float images in views teasers left */
.views-row .field-field-image .field-item {
    display: none;
    float: left;
    margin-right: 10px;
}
.views-row .field-field-image .field-item:first-child {
    display: block;
}

.views_view {
    position: relative;
}
.view-display-id-vojo_term_browse_stories_page .view-footer {
    position: absolute;
    top: -19px;
    right: 5px;
}

/* empty map overlay */
.view-vojo-group-stories-map .view-empty {
    color: #fff;
    width: 770px;
    height: 400px;
    padding-top: 1px;
    background-image: url(../images/vojo/world-map.png);
    overflow: hidden;
}
.view-vojo-group-stories-map .view-empty .map-overlay {
   background-color: rgba(1, 1, 1, 0.6);
   text-align: center;
    padding: 17%;
}
.view-vojo-group-stories-map .view-empty .map-overlay p {
  font-size: 16px;
  text-shadow: 1px 1px 1px #999;
  margin-bottom: 20px;
}
.create-group-link {
    float: right;
    display: block;
    background-color: #2980D7;
    padding: 5px 10px;
    border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
}
.create-group-link,
.create-group-link:visited,
.create-group-link:link {
    color: #fff; 
}
.view-vojo-og .view-content {
    clear: both;
}

/* Featured stories carousel */
.jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 540px;
}
.view-vojo-group-featured-stories .jcarousel-skin-default .jcarousel-container-horizontal {
    height: 400px;
    width: 550px;
}
.view-vojo-group-featured-stories .jcarousel-skin-default .jcarousel-item-horizontal {
    width: 530px;
    height: auto;
    padding-bottom: 10px;
    min-height: 200px;
    border: none;
    text-align: left;
}
.view-vojo-group-featured-stories .vojo-story-mapped span {
    margin-left: 10px;
}
.view-vojo-group-featured-stories .jcarousel-skin-default .jcarousel-prev-horizontal,
.view-vojo-group-featured-stories .jcarousel-skin-default .jcarousel-next-horizontal {
    margin-top: 100px;
}
.view-vojo-group-featured-stories .views-field-field-image-fid img {
    float: left;
    margin-right: 10px;
}

/* My stories table */
.view-vojo-global-story-listings table {
    width: 100%;
}